a:link {
  color: red;
  text-decoration: none;
  transition: 1s;
}

a:visited {
  color: green;
}

a:active {
  color: orange;
}

a:focus {
  outline: 1px solid orange;
}

a:hover {
  background-color: bisque;
  border-radius: 5px;
  font-size: 20px;
  transition: 1s;
}
